@charset "UTF-8";
/* CSS Document */
html {
  font-size: 62.5%; /* 16px * 62.5% = 10px */
  width: 100%;
  box-sizing: border-box;
}
body {
  color: #333333; /* RGB */
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6em;
  letter-spacing: 0.1em;
  background-color: #f8f8f8;
}

/*header*/
.header{
  position:fixed;
  width:100%;
  z-index:1;
}

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__inner h2{
  font-family:'Cormorant SC', serif;
  padding-left:15px;
  font-size:1.6rem;
  color:#707070;
}
.gnav{
  display: none;
}

.hamburger-area{
  width:40px;
  height:40px;
  content:"";
  display: block;
  position:relative;
  padding-right:10px;
}

.hamburger-btn{
  content:"";
  display: block;
  width:30px;
  height:2px;
  background-color:#707070;
  border-radius:5px;
  position:absolute;
  left:5px;
  top:12px;
}

.hamburger-btn::before{
  content:"";
  display: block;
  width:30px;
  height:2px;
  background-color:#707070;
  border-radius:5px;
  position:absolute;
  top:8px;
}

.hamburger-btn::after{
  content:"";
  display: block;
  width:30px;
  height:2px;
  background-color:#707070;
  border-radius:5px;
  position:absolute;
  top:16px;
}

.section{
  margin-bottom:150px;
}

.title{
  font-family:'Cormorant SC', serif;
  color:#707070;
  font-size:3.2rem;
  padding-left:80px;
  margin-bottom:80px;
  position:relative;
  letter-spacing: 0.2em;
}
.title::after{
  content:"";
  display: block;
  width:50px;
  height:1px;
  background-color:#707070;
  position:absolute;
  top:50%;
  left:15px;
}