@charset "utf-8";

/*mainvisual*/
.mainvisual_area {
    height: 100vh;
    background-image: url("bg/mainvisual.jpg");
    background-size: cover;
    background-position: 20% 50%;
    position: relative;
    overflow: hidden;
}

.mainvisual_ttl {
    width: min(100%, 330px);
    margin:0 auto;
    position: absolute;
    top:40vh;
    left:50%;
    transform: translateX(-50%);
}

.mainvisual_ttl span {
    font-family: 'Halant', serif;
    font-size: min(5.33vw, 2.8rem);
    letter-spacing: 0.2em;
    color: #707070;
    text-align: end;
    display: block;
    padding: 0 15px;
}

.mainvisual_logo {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}
.parallax-left{
    position: absolute;
    width:min(100%,200px);
    top:55vh;
    left:-40px;
}
.parallax-right{
    position: absolute;
    width:min(100%,200px);
    top:55vh;
    right:-40px;
}
/*タブレット*/
@media(min-width:768px){

.mainvisual_ttl {
    width: min(100%, 380px);
}
    .parallax-left{
        position: absolute;
        width:min(100%,300px);
        top:55vh;
        left:-40px;
    }
    .parallax-right{
        position: absolute;
        width:min(100%,300px);
        top:55vh;
        right:-40px;
    }
}
/*PC*/
@media(min-width:992px) {
    .mainvisual_area {
<<<<<<< HEAD
        background-position: 50% 50%;
    }

    .mainvisual_ttl {
        left: 80%;
        top: 25%;
=======
        background-position: 50% 30%;
        height:130vh;
    }
    .parallax-left{
        position: absolute;
        width:min(100%,400px);
        top:50vh;
        left:-50px;
    }
    .parallax-right{
        position: absolute;
        width:min(100%,400px);
        top:50vh;
        right:-50px;
>>>>>>> 6ec0dd7 (Fix mainvisual,Add parallax Luxy.js)
    }

}

/*mainvisual*/

/*vision*/
.section.-vision {
    background-color: #f3f3f3;
    padding: 80px 15px;
    margin-bottom:0px;
}

.section-vision__message {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: min(100%, 600px);
    margin: 0 auto;
}

.vision__ttl {
    font-family: 'Halant', serif;
    font-size: 3.2rem;
    font-weight: 400;
    color: #d3b26d;
    letter-spacing: 0.2em;
    padding-top:5px;
}

.vision__txt {
    line-height: 2;
}

.vision__txt strong {
    font-weight: 500;
}

.vision__txt p:first-child {
    margin-bottom: 30px;
}

@media(min-width:992px) {
    .section.-vision {
        padding: 100px 15px;
    }
    .section-vision__message {
        flex-direction: row;
        gap:60px;
        width: min(100%, 740px);
    }
}

/*vision*/

/*works*/
.section-works__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    gap: 50px;
}

.works__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.works__block img {
    width: 100%;
}

.works__block__item {
    width: min(100%, 500px);
    text-align: center;
    text-decoration: none;
    color: #333333;
}
.works__block__item img{
    transition: 0.3s;
}
.works__block__item img:hover {
    opacity: 0.5;
    transition: 0.3s;
}

@media(min-width:992px) {
    .section-works__wrapper {
        flex-direction: row;
        width: min(100%, 1040px);
        margin: 0 auto;
        box-sizing: border-box;
    }

    .works__block {
        width: 50%;
    }

    .works__block:last-child {
        justify-content: center;
    }
}

/*works*/

/*skill*/
.section-skill__wrapper {
    background-color: #f3f3f3;
    padding: 30px 30px 50px;
    /*30px*/
}

.skill__ttl {
    list-style: none;
    display: flex;
    gap: 20px;
    width: min(100%, 450px);
    margin: 0 auto 50px;
    font-size: 1.2rem;
    cursor: pointer;
}

.skill__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.skill__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: min(100%, 450px);
    margin: 0 auto;
}

.item__ttl {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.item__txt p:first-child {
    margin-bottom: 20px;
}

.item__txt span {
    background-color: #d3b26d4d;
}
.item__txt a{
    color:#333;
}

.icon {
    width: 45px;
}

.item__ttl h3 {
    font-size: 2.0rem;
    font-weight: 500;
    line-height: 1.6em;
}

/*tab-change jQuery*/
.skill__ttl li.active {
    border-bottom: solid 3px #d3b26d;
}

.skill__content {
    display: none;
}

.skill__content.active {
    display: flex;
}

@media(min-width:992px) {
    .section-skill__wrapper {
        padding: 30px 50px 50px;
    }

    .skill__content {
        flex-direction: row;
        align-items: flex-start;
        width: min(100%, 1040px);
        margin: 0 auto;
    }

    .skill__ttl {
        width: min(100%, 1040px);
    }
}

/*skill*/

/*about*/
.section-about__wrapper {
    padding: 0 15px;
}

.about__profile {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 30px;
}

.profile__img {
    width: min(100%, 300px);
    object-fit: cover;
    margin-bottom:30px;
}

.profile__txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100%, 200px);
}

.profile__name {
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}

.profile__contents {
    width: 100%;
}

.profile__item {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    margin-bottom: 5px;
}

.profile__item th {
    font-weight: 500;
    width: 50%;
}

.profile__message {
    text-align: center;
    margin: 0 auto 60px;
    width: min(100%, 640px);
}

.profile__message p {
    margin-bottom: 20px;
}
.btn_area{
    display: flex;
    justify-content: center;

}

.more_btn {
    display: block;
    width: min(100%, 110px);
    border-bottom: solid 1px #333;
    padding:4px 0;
    text-decoration: none;
    color: #333;
    text-align:center;
    letter-spacing: 0.2em;
    position: relative;
    font-family: 'Halant', serif;
    transition: 0.3s;
}


.more_btn::after {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    border: solid 1px #333;
    border-radius: 50%;
    position: absolute;
    top:12px;
    right: -15px;
    transition: 0.3s;
}

.more_btn:hover:after {
    transform: translateX(10px);
    transition: 0.3s;
}

@media(min-width:992px) {
    .about__profile {
        margin-bottom: 50px;
    }
}