@charset "UTF-8";

.work-page {
    padding: 120px 0 0;
}

.section-top {
    margin-bottom: 100px;
    padding: 0 15px;
}

.top-ttl {
    font-size: 2.0rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 40px;
}

.top-image__area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(100%, 600px);
    margin: 0 auto 60px;
}

.top-image__img {
    width: 75%;
}

.page-link {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #d88c39;
    position: relative;
}

.arrow {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-width: 6px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    top: 9px;
    left: 5px;
}

.page-link.right {
    transform: rotate(180deg);
}

.site-url {
    width: min(100%, 350px);
    margin: 0 auto 60px;
}

.url__area {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 8px;
}

.url__btn {
    display: block;
    width: min(50%, 180px);
    padding: 8px 5px;
    border: solid 1px #333;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.url__btn:hover {
    background-color: #d88c39;
    transition: 0.3s;
}

.site-url span {
    font-size: 1.2rem;
}

@media(min-width:992px) {
    .top-image__area {
        width: min(100%, 1040px);
    }

    .none {
        display: none;
    }

    .top-ttl {
        font-size: 2.4rem;
    }

    .page-link {
        width: 50px;
        height: 50px;
    }

    .arrow {
        border-width: 10px;
        border-style: solid;
        border-color: transparent #fff transparent transparent;
        position: absolute;
        top: 15px;
        left: 8px;
    }

    .site-url {
        width: min(100%, 500px);
        margin: 0 auto 60px;
    }
}

.description {
    text-align: left;
    width: min(100%, 600px);
    margin: 0 auto 60px;
}

.description__item {
    display: flex;
    margin-bottom: 10px;
}

.description__item th {
    width: 35%;
    flex-shrink: 0;
    font-weight: 500;
}

.section-explanation {
    padding: 0 15px;
}

.explanation__planning,
.explanation__design,
.explanation__coding,
.explanation__comment {
    width: min(100%, 600px);
    margin: 0 auto 150px;
}

.explanation__ttl {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.planning__link {
    margin-bottom: 60px;
}

.planning__link a {
    color: #333;
}

.explanation__planning h4 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.explanation__items {
    margin-bottom: 60px;
    padding-left: 15px;
}

.explanation__items li {
    margin-bottom: 10px;
}
.explanation__txt{
    margin-bottom: 60px;
    padding-left:15px;
    position:relative;
    line-height:2;
}
.explanation__txt::before{
    content:"";
    display: block;
    width:4px;
    height:4px;
    border-radius: 10px;
    background-color:#333;
    position:absolute;
    top:11px;
    left:3px;
}
.explanation__txt a{
    font-size:1.2rem;
    color:#333;
}
