@charset "UTF-8";

.work-page {
    padding: 120px 0 0;
}

.section-top {
    margin-bottom: 100px;
    padding: 0 15px;
}

.top-ttl {
    font-size: 2.0rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 40px;
}

.top-image__area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(100%, 640px);
    margin: 0 auto 60px;
}

.top-image__img {
    width: 75%;
}

.page-link {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #d3b26d;
    position: relative;
}

.arrow {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-width: 6px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    top: 9px;
    left: 5px;
}

.arrow.right {
    border-color: transparent transparent transparent #fff;
    top: 9px;
    left:13px;
}

.site-url {
    margin: 0 auto 60px;
}
.site-url span {
    font-size: 1.0rem;
    display: block;
    text-align: center;
}

.url__area {
    display: flex;
    justify-content: center;
    margin-bottom:5px;
}

.url__btn {
    display: block;
    width:min(100%,170px);
    padding: 8px 5px;
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: #eee;
    transition: 0.3s;
    box-shadow: #d2d2d2 2px 2px;
}

.url__btn:hover {
    transition: 0.3s;
    box-shadow: none;
    transform: translateY(3px);
}

@media(min-width:992px){
    .top-image__area{
        width: min(100%, 1040px);
    }
    .none{
        display: none;
    }
    .top-ttl {
        font-size:2.4rem;
    }
    .page-link {
        width:50px;
        height:50px;
        transition: 0.3s;
    }
    .page-link.left:hover{
        transform: translateX(-5px);
        transition: 0.3s;
    }
    .page-link.right:hover{
        transform: translateX(5px);
        transition: 0.3s;
    }
    .arrow {
        border-width: 10px;
        top: 15px;
        left: 8px;
    }
    .arrow.right {
        border-width: 10px;
        top: 15px;
        left:22px;
    }
    .url__btn{
        width:min(100%,200px);
        padding: 10px 5px;
    }
}

.description {
    text-align: left;
    width: min(100%, 640px);
    margin: 0 auto 60px;
}

.description__item {
    display: flex;
    margin-bottom: 10px;
}

.description__item th {
    width: 35%;
    flex-shrink: 0;
    font-weight: 500;
}

.lighthouse__report {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: min(100%, 640px);
    margin: 0 auto 100px;
}
.lighthouse__report img{
    width:100%;
}

.lighthouse__ttl {
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 1.6;
}

.section-explanation {
    margin: 0 auto;
    padding: 0 15px;
}

.explanation__planning,
.explanation__design,
.explanation__coding,
.explanation__comment {
    width: min(100%, 640px);
    margin: 0 auto 150px;
}

.explanation__ttl {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 40px;
    padding-bottom: 8px;
    border-bottom: #333 solid 1px;
}

.explanation__planning img {
    width: min(100%, 640px);
}

.planning__link {
    margin-bottom: 60px;
}

.planning__link a {
    color: #333;
}

.explanation__planning h4 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.explanation__items {
    margin-bottom: 40px;
    padding-left: 15px;
}

.explanation__items li {
    margin-bottom: 10px;
}
.explanation__txt{
    margin-bottom: 40px;
    line-height:2;
}

.explanation__txt a{
    font-size:1.2rem;
    color:#333;
}

.explanation-source-code{
    margin-bottom:120px;
    text-align: center;
}
.explanation-source-code img{
    width:min(100%,340px);
    margin:0 auto 40px;
}
.explanation-img__area{
    display:flex;
    justify-content: space-between;
}
.explanation-img__area img{
    width:min(48%,280px);
}